{% extends 'base.html.twig' %}

{% block title %}AuditLog index{% endblock %}

{% block body %}
    <h1>AuditLog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Action</th>
                <th>EntityType</th>
                <th>EntityId</th>
                <th>MetaJson</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for audit_log in audit_logs %}
            <tr>
                <td>{{ audit_log.id }}</td>
                <td>{{ audit_log.action }}</td>
                <td>{{ audit_log.entityType }}</td>
                <td>{{ audit_log.entityId }}</td>
                <td>{{ audit_log.metaJson ? audit_log.metaJson|json_encode : '' }}</td>
                <td>{{ audit_log.createdAt ? audit_log.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_audit_log_show', {'id': audit_log.id}) }}">show</a>
                    <a href="{{ path('app_audit_log_edit', {'id': audit_log.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_audit_log_new') }}">Create new</a>
{% endblock %}
